<nav>
    <% if(user) { %>
    <a class="button-86" href="/users/<%= user._id %>/admins">Your Assigned Requests</a>
    <a class="button-86" href="/users/<%= user._id %>/admins/master">Make an admin</a>
    <a class="button-86" href="/auth/sign-out">Sign Out</a>
    <% } else { %>
    <% } %>
  </nav>