<nav>
  <% if(user) { %>

    <a class="button-86" href="/users/<%= user._id %>/requests">Your Requests</a>
    <a class="button-86" href="/auth/sign-out">Sign Out</a>
    <a class="button-86" href="/users/<%=user._id%>/requests/new">Add a request</a>
    <% } else { %>

      <a class="button-86" href="/">Home</a>

      <% } %>

</nav>