<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add a New Request</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <div class="container center">
            <div class="requests-card">
                <form action="/users/:userId/requests" method="POST">

                    <label class="description" for="requestDescription">Request</label>
                    <input type="text" name="requestDescription" id="requestDescription" />


                    <label class="description" for="admin">Select Admin</label>
                    <div class="box">
                        <select class="select-text" id="admin" name="admin">

                            <% users.forEach((user)=>{ %>
                                <% if(user.isAdmin===true){%>
                                    <option class="select-text" value="<%= user._id %>">
                                        <%= user.username %>
                                    </option>
                                    <%};%>
                                        <% }) %>
                        </select>
                    </div>

                    <input type="hidden" id="status" name="status" value="open">

                    <div class="more-information">
                        <button class="button-86" type="submit">Add Request</button>
                    </div>
                </form>
            </div>
        </div>
</body>

</html>