<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Request</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <form action="/users/:userId/requests" method="POST">

            <label for="requestDescription">Request:</label>
            <input type="text" name="requestDescription" id="requestDescription" />

            <label for="admin">Select Admin:</label>
            <select id="admin" name="admin">
                <% users.forEach((user)=>{ %>
                    <% if(user.isAdmin===true){%>
                        <option value="<%= user._id %>">
                            <%= user.username %>
                        </option>
                    <%};%>
               <% }) %>
            </select>

            <input type="hidden" id="status" name="status" value="open">

            <button type="submit">Add Request</button>
        </form>
</body>

</html>