<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Home Page</title>
</head>

<body>
  <%- include('./partials/_navbar.ejs') %>


    <div class="card">
      <div class="card__content">
      
        <div class="image-container">
          <img src="https://i.ibb.co/vXFXYRr/68b34009-5514-4dbd-80e9-5d83361f99e7-removebg-preview.png"
            alt="Network icon">
        </div>
        <h1><b>Wlcome to the app</b></h1>
        <a href="/auth/sign-up" class="button-86">Sign up</a>
        <a href="/auth/sign-in" class="button-86">Sign in</a>
      </div>
    </div>
</body>

</html>