<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit User</title>
</head>

<body>
    <%- include('../partials/_admin-navbar.ejs') %>
        <div class="container center">
            <div class="requests-card">
                <h1 class="font"> <%= user.username %> </h1>
                <hr />
                <form action="/users/<%=currentUser._id%>/admins/<%=user._id%>?_method=PUT" method="POST">

                    <label class="description" for="is-Admin"><b>Add/Remove Admin</b></label>
                    <input type="checkbox" name="isAdmin" id="is-Admin" <% if (user.isAdmin) { %>checked<% } %> />

                        <button class="button-86" type="submit" class="btn">Committ</button>
                </form>
            </div>
        </div>
</body>

</html>