<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Create Admins</title>
</head>

<body>
  <%- include('../partials/_admin-navbar.ejs') %>
    <div class="row">
      <%if(allUsers.length !==0) {%>
        <h1 class="title">All Users</h1>
        <div class="row"></div>
        <% allUsers.forEach((user)=>{ %>
          <div class="container center">
            <div class="requests-card">
              <a class="button-86" href="/users/<%=currentUser._id%>/admins/<%=user._id%>/edit-user">
                <%= user.username %>
              </a>
            </div>
          </div>

          <% }) %>

            <%}else{%>

              <h1 class="title">There are no active users</h1>

              <%}%>
    </div>
</body>

</html>